{% extends 'base.html.twig' %}

{% block title %}Gestion des logs{% endblock %}

{% block body %}
    <h1>Gestion des logs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Auteur</th>
                <th>Créer le</th>
                <th>Description</th>
                <th>Action réalisée</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.id }}</td>
                <td>{{ log.author }}</td>
                <td>{{ log.createdAt ? log.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ log.description }}</td>
                <td>{{ log.actionType }}</td>
                <td>
                    <a href="{{ path('app_log_show', {'id': log.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun log trouvé....</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
