{% extends 'base.html.twig' %}

{% block title %}Gestion des menus{% endblock %}

{% block body %}
    <h1>Gestion des menus</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Url</th>
                <th>Actif</th>
                <th>Position</th>
                <th>Créer le</th>
                <th>Mis à jour le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.title }}</td>
                <td>{{ menu.url }}</td>
                <td>{{ menu.active ? 'Yes' : 'No' }}</td>
                <td>{{ menu.position }}</td>
                <td>{{ menu.createdAt ? menu.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ menu.updatedAt ? menu.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_menu_show', {'id': menu.id}) }}">Voir</a>
                    <a href="{{ path('app_menu_edit', {'id': menu.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun menu trouvé...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_menu_new') }}">Créer nouveau</a>
{% endblock %}
